*{
    text-align: center;
}
button {
    height: 96px;
    width: 96px;
    font-size: xx-large;
}

#mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

#results {
    display: flex;
    justify-content: center;
}
#results div {
    background: rgba(240,246,252,.15);
    background: var(--background-bright);
    border: 1px solid #30363d;
    color: #e3e9f0;
    color: var(--text-bright);
    font-family: inherit;
    font-size: inherit;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 5px 66px;
    border-radius: 6px;
    outline: none;
    text-align: left;
    
}
#results div h3{
    color: 	#ffbe33;
    margin-top: 22px;
}
.showResults{
    display: none;
    
}
